.item {
  border-bottom: 1px solid lightgray;
  width: 750px;
  margin: 0 auto;
  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.accordian__question {
  font-size: 17.5px;
}

.answer {
  color: #606060;
  max-height: 0;
  overflow: hidden;
  line-height: 30px;
  transition: 0.1s ease-out;
}

.answer.show {
  height: auto;
  max-height: 999px;
  transition: 0.1s ease-in;
}

@media screen and (max-width: 926px) {
  .item {
    width: 75vw;
  }
}