.sportsCardRow {
  cursor: pointer;
  margin: 0 25px 25px 0;
}

.sportsCardRow__image {
  width: 305px;
  margin-bottom: 5px;
}

.sportsCardRow__info{
  display: flex;
  width: 305px;
}

.sportsCardRow__channelImage {
  width: 35px;
}

.sportsCardRow__title {
  font-size: 14.5px;
  font-weight: 525;
  margin-left: 10px;
}

.sportsCardRow__channel {
  color: #606060;
  font-size: 12px;
  margin-top: 7px;
}

.sportsCardRow__text {
  align-items: center;
  margin-left: 45px;
}

.sportsCardRow__icon {
  font-size: small !important;
  align-items: center;
}

.sportsCardRow__views {
  color: #606060;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 20px;
}


@media (max-width: 500px) {
  .sportsCardRow {
    margin-right: 100px;
  }

  .sportsCardRow__image {
    width: 250px;
  }

  .sportsCardRow__info {
    width: 250px;
  }
}