.channelRow {
  display: flex;
  align-items: center;
  cursor: pointer;
  max-width: 1132px;
}

.channelRow__image {
  flex: 0.2;
  margin: 10px 60px;
}

.channelRow__image > img {
  width: 120px;
  border-radius: 50%;
}

.channelRow__info {
  flex: 0.7;
}

.channelRow__info > h2 {
  font-size: 19px;
  font-weight: 500;
}

.channelRow__verified {
  color: #606060;
  font-size: small !important;
}

.channelRow__info > p {
  color: #606060 !important;
  font-size: small;
}

.channelRow__button {
  flex: 0.1;
  display: flex;
  align-items: center;
  gap: 1em;
}

.channelRow__button > button {
  background-color: rgb(225, 222, 222);
  color: gray;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 770px) {
  .channelRow__button {
    display: none;
  }
}

@media screen and (max-width: 501px) {
  .channelRow__info > h2 {
    font-size: 17px;
  }
}