.sportsHeaderRow {
  display: flex;
  background-color: #f9f9f9;
  justify-content: space-between;
  align-items: center;
}

.sportsHeaderRow__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sportsHeaderRow__image {
  width: 85px;
  border-radius: 50%;
}

.sportsHeaderRow__info {
  margin-left: 25px;
}

.sportsHeaderRow__info > h4  {
  font-size: 25px;
  font-weight: 475;
}

.sportsHeaderRow__info > p {
  color: #737373;
  font-size: 13px;
}

.sportsHeaderRow__right {
  align-items: center;
}

.sportsHeaderRow__button {
  background-color: #dd2c00;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
  align-items: center;
  padding: 10px 15px;
}


/* Media Query Section */
@media screen and (max-width: 845px) {
  .sportsHeaderRow {
    padding: 17px 50px;
  }
}

@media screen and (max-width: 681px) {
  .sportsHeaderRow {
    padding: 17px 40px;
  }
}

@media screen and (max-width: 550px) {
  .sportsHeaderRow {
    padding: 17px 20px;
  }
}